<%- include('./partials/header') %>

<body class="d-flex align-items-center justify-content-center vh-100 bg-dark text-light">
  <div class="text-center p-5 bg-secondary rounded-4 shadow-lg">
    <h1 class="mb-4">Quote of the Day</h1>
    <div>
      <p class="fs-4">“<%= quote %>”</p>
      <footer class="lead text-light">— Ron Swanson</footer>
    </div>
    <a href="/" class="btn btn-outline-light mt-4">New Message</a>
  </div>

<footer>
    <%- include('./partials/footer') %>
</footer>
