<h1><%= message %></h1>
<p>Página não encontrada ou inexistente, certifique-se que os dados estão preenchidos corretamente. <a href="http://localhost:3000/"> Clique aqui para retornar ao início.</p>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
